.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #234d20;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    gap: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    z-index: 0;
    height: 5vh;
}

.navbar img {
    width: 65px;
    height: 65px;
}

.navbar__items_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__items_left  a,
.navbar__items_right  a
 {
    padding: 0 20px;
    position: relative;    
    cursor: pointer;
}

.navbar__items_left a:hover,
.navbar__items_right a:hover {
    color: #ff9500;
    transition: 0.2s ease-in-out;
}

.navbar__items_left a:hover::after,
.navbar__items_right a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #ff9500;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navbar__items_right {
    display: flex;
    margin-left: auto;
    gap: 6px;
}

.navbar__items_right img {
    width: 30px;
    height: 30px;
}
