button {
  display: flex;
  background: transparent;
  border: none;
  gap: 8px;
  font-family: "Rancho", cursive;
  font-size: 22pt;
  transition: all 0.4s ease-in-out;
  padding: 0.5em;
}

#cancel-button {
  display: inherit;
  align-self: flex-end;
  margin: -30px -25px;
  background-color: #fde9ed;
  color: #b9485d;
  border: 1px solid #b9485d;
  border-radius: 10px;
  font-size: 18pt;
  transition: all 0.5s ease-in-out;
}

#cancel-button:hover {
  background-color: #b9485d;
  color: white;
}

#create-button {
  display: flex;
  align-self: center;
  background-color: #f0f7da;
  color: #234d20;
  border: 1px solid #234d20;
  border-radius: 10px;
  font-size: 65pt;
  height: 400px;
  width: 25vh;
  margin: 5vh;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

#create {
  background: #f0f7da;
  border-radius: 10px;
  border: 1px solid #234d20;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 5em 8em;
  border: 1px solid #234d20;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 70%;
}

.invalid {
  cursor: default;
  opacity: 0.3;
  background-color: #f0f7da;
}

.invalid:hover {
  -webkit-transform: none;
  transform: none;
}

.valid:hover {
  background: #f0f7da;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 10px;
  border: 1px solid #234d20;
}

.recipe-header {
  display: inherit;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.title h2 {
  text-align: center;
  font-size: 40pt;
  margin-right: 1em;
  color: #234d20;
}

.title h1 {
  font-weight: lighter;
  width: 100%;
  text-align: center;
  font-size: 55pt;
  margin: 0;
  border-bottom: 1px dotted #ccc;
  color: #77ab59;
}

.title p {
  font-family: "Kalam", cursive;
  font-weight: lighter;
  font-size: 16pt;
  color: #234d20;
}

.general {
  display: flex;
  flex-direction: column;
}

.general ul {
  width: 10rem;
  min-height: 25px;
  padding: 0.5em 0.3em;
  margin: 0;
  font-weight: lighter;
  text-wrap: wrap;
  resize: none;
  text-align: center;
  border: 1px #ccc solid;
  border-radius: 15px;
}

.general li {
  font-size: 22pt;
  list-style: none;
}
.general label {
  cursor: pointer;
  font-weight: bold;
  color: #234d20;
}

.general p {
  margin: 0;
  font-size: 16pt;
  font-weight: lighter;
  font-family: "Kalam", cursive;
}

#recipe-content {
  display: inherit;
  flex-direction: row;
}

.utensils {
  display: inherit;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  flex: 1 1 auto;
  border-top: 1px solid #ccc;
}

.utensils ul {
  margin: 0;
  padding-left: 1.5em;
}

.left-column {
  display: inherit;
  flex-direction: column;
  width: 200px;
}

.right-column {
  display: inherit;
  flex-direction: column;
  flex: 1 1 auto;
  border-left: 1px solid #ccc;
}

.ingredients {
  display: inherit;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: 200px;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding-left: 1.5em;
  flex-wrap: wrap;
  column-gap: 1.5em;
  max-height: 120px;
}

.ingredients ul > * {
  flex: 1 1 1px;
  list-style: circle;
}

.utensils li,
.ingredients li {
  font-size: 16pt;
  font-weight: lighter;
  text-wrap: wrap;
  text-align: start;
  max-width: 7em;
  font-family: "Kalam", cursive;
}

.instructions {
  border-top: 1px solid #ccc;
  display: inherit;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: justify;
  padding-left: 0;
  padding-right: 2em;
}
.instructions ol > li::marker {
  font-weight: bold;
}

.instructions li {
  font-family: "Kalam", cursive;
  font-weight: lighter;
  font-size: 14pt;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.recipe h3 {
  margin: 10px;
  color: #234d20;
  font-size: 28pt;
}

.recipe-footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.notes {
  text-align: start;
  min-height: 100px;
}

.notes li {
  font-family: "Kalam", cursive;
  font-weight: lighter;
  font-size: 14pt;
  list-style: none;
}

.modal {
  background-color: #eeedfa;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  width: 80%;
  max-width: 40rem;
  animation: grow-up 0.3s ease-out forwards;
}

.modal h3 {
  font: 36pt "Rancho", cursive;
  margin: 20px;
  color: #805acd;
}

.modal::backdrop {
  background-color: rgba(255, 255, 255, 0.7);
}

.modal .actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.modal button {
  justify-content: center;
  border-radius: 10px;
  width: 3em;
  user-select: none;
}

.modal button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.instructions-content {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  margin: 0 2em;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.instructions-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin-bottom: 20px;
}

.cancel {
  background-color: #234d20;
  color: #f0f7da;
}

#title-actions button {
  font-size: 40px;
}

.ok {
  background-color: #6f48b9;
  color: #f6f5fd;
}

.control {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font: 16pt "Kalam", cursive;
  color: #6f48b9;
  align-items: baseline;
}

.control #title {
  font-size: 25pt;
}

.control #description {
  font-size: 14pt;
  font-weight: 50;
}

.control label {
  font: 18pt "Rancho", cursive;
  color: #362358;
}

.control select,
.control input {
  background-color: transparent;
  font: inherit;
  font-size: 22pt;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  color: inherit;
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
}

.control textarea {
  resize: none;
  background-color: transparent;
  border: 1px solid #ccc;
  font: 14pt "Kalam", cursive;
  color: #3b2662;
  width: 40em;
  height: 10em;
}

.step-control {
  align-items: center;
  background-color: #6f48b9;
  color: #f6f5fd;
  max-width: 1.8em;
  height: 1.8em;
}

.step-control.disabled {
  background-color: #ccc;
  color: #6f48b9;
  cursor: default;
}

.step-control.disabled:hover {
  -webkit-transform: none;
  transform: none;
}

.utensil-control {
  align-items: center;
  background-color: #a08adf;
  font-size: 20pt;
  color: #f6f5fd;
  max-width: 1em;
  height: 1em;
}

.new-utensil-control {
  align-items: center;
  background-color: #6f48b9;
  font-size: 20pt;
  color: #f6f5fd;
  max-width: 2em;
  height: 2em;
}

.utensil-control:hover {
  background-color: #5d3c9b;
}

.utensil-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10em;
  max-height: 18em;
  font: 14pt "Rancho", cursive;
}

.utensil-list li {
  margin: 5px;
  display: flex;
  align-self: flex-start;
  gap: 1em;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translatey(-4rem);
  }

  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes grow-up {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*

#public-label-Private {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #234d20;
}

#public-label-Public {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff9500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c9df8a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 35px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff9500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff9500;
}

input:checked + .slider:before {
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
} */
